body {
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    align-items: center;
    background: #343a40;
}

p {
    white-space: pre-wrap;
    font-size: 1.05rem;
    font-weight: 300;
}

.text-color{
    color: rgba(255, 255, 255, 0.91);
}

.skills{
    color: #f8f9fa;
    /* background: #ffffff; */
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(50 49 50 / 48%) 0%, rgb(140 151 140 / 59%) 100%), url(../assets/img/svg/9.svg), no-repeat;
    background-size: cover;
}

body::after{
    content: '';
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/svg/4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}

a{
    text-decoration: none;
}

header{
    /*background: linear-gradient(to bottom,
    rgba(50, 49, 50, 0.73) 0%, rgba(14, 5, 23, 0.96) 100%), url(../assets/img/body8.jpg);*/
    height: 100vh;
    /*padding-top: 1.5rem;*/
    padding-bottom: 0;
}

.rounded {
    border-radius: 5px 50px !important;
}

.rounded-custom{
    border-radius: 5px;
}

.navbar{
    padding-bottom: 0 !important;
    /*text-transform: uppercase*/
}

.nav-custom{
    font-weight: 700;
    /*color: #fff;*/
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent;
    isolation: isolate;
}

.nav-link {
    color: rgb(255, 255, 255)!important;
    padding: 15px;!important;

}

.nav-link:hover, .nav-link:focus {
    color: rgb(66, 152, 19) !important;
}

.active {
    color: rgb(61, 82, 57) !important;

}
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    /*color: rgba(184, 199, 199, 0.62);*/
    color: #198754;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
    margin-right: 0;
}
.social-icons .social-icon:hover {
    background-color: rgb(66, 152, 19);
    /*color: #676979 !important;*/
    color: rgba(255, 255, 255, 0.91) !important;
}

.img-profile{
    width: 190px;
    height: 200px;
    border-radius: 50%;
}

/*-------------------------------------------------------------------*/


.contato{
    background-image: linear-gradient(to bottom,
    rgba(71, 86, 87, 0.75) 0%, rgb(46 66 86 / 74%) 100%);
    border-radius: 10px;
}

/*-------------------------------------------------------------------*/

.banner::after, .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    transform: skew(15deg)
    translateX(-50%);
    width: 75%;
    height: 100%;
    background-image: linear-gradient(120deg, rgba(50, 49, 50, 0.73), rgba(14, 5, 23, 0.96));
    background-color: #333;
    opacity: .7;
}
.banner::before {
    transform: skew(-15deg)
    translateX(-50%);
}
.banner {
    position: relative;
    min-height: 50vh;
    background-image: url(../assets/img/body1.jpg);
    background-size: cover;
    display: flex;
    overflow: hidden;
}

.banner > * {
    z-index: 100;
}

/*-------------------------------------------------------------------*/


.art-cont::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    transform: skew(-20deg)
    translateX(-50%);
    width: 80%;
    height: 90%;
    background-image: linear-gradient(120deg, rgb(61, 82, 57) 100%, rgb(66, 152, 19) 0%);
    background-color: #333;
    opacity: 0.8;
    border-radius: 80px;
}

.art-cont > * {
    z-index: 100;
}

.art-cont2::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    transform: skew(20deg)
    translateX(-50%);
    width: 80%;
    height: 90%;
    background-image:  linear-gradient(120deg, rgb(66, 152, 19) 0%, rgb(61, 82, 57) 100%);
    background-color: #333;
    opacity: 0.8;
    border-radius: 80px;
}

.art-cont, .art-cont2 > * {
    z-index: 100;
}

.art-cont, .art-cont2 {
    position: relative;
    min-height: 60vh;
    display: flex;
    overflow: hidden;
    padding: 20px;
}

.img-carousel{
    width: 100%;
    height: 450px;
}

.card{
    height: 100%;!important;
    /*border-radius: 0px 50px;!important;*/
}

/*-------------------------------------------------------------------*/

.button-down {
    color: rgb(145, 156, 170);
    animation: go-back 1s infinite alternate;
    margin-top: -15px;
}

@keyframes go-back {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

/*-------------------------------------------------------------------*/

.awards{
    display: block;
    padding: 0.5rem 1rem;
    color: rgba(22, 5, 40, 0.96) !important;
    text-decoration: none;
}
.awards:hover{
    color: rgb(61, 82, 57);
}

/*-------------------------------------------------------------------*/

.map{
    width: 100%;
    height: 80%;
}

/*-------------------------------------------------------------------*/
@media screen and (max-width: 767.99px) {
    /*.img-header{
        display: none;
    }
    .map{
        display: none;
    }
    */
    .art-cont, .art-cont2 {
        background-image:  linear-gradient(120deg, rgba(14, 5, 23, 0.96), rgba(76, 75, 77, 0.76));
        margin-bottom: 20px;
    }

    .art-cont::before, .art-cont2::after {
        display: none;
    }
    .img-carousel{
        width: 100%;
        height: 300px;
    }
    header{
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media screen and (max-width: 599.99px) {
    header{
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 1366.99px) {
    .img-carousel{
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 999.99px) {
    .img-carousel{
        width: 100%;
        height: 260px;
    }

    header{
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
    .art-cont, .art-cont2 {
        min-height: 20vh;
    }

}

.button-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: rgb(61, 82, 57);
    display: none;
    z-index: 100;
    animation: go-top 1s infinite alternate;
}
.button-top:hover {
    color: #212529;
}
@keyframes go-top {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}


.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    color: #198754;
    box-shadow: 0 5px 10px rgb(66, 152, 19) !important;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(255, 255, 255) !important;
}

.award:hover {
    animation: moveInAward 3s;
}

.skill:hover {
    animation: moveInAward 3s;
}


@keyframes moveInAward {
    10% {
        transform: translateY(-15px);
    }
}

.modal-content {
    border-radius: 0px 50px;
}
