
body{
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: linear-gradient(to bottom,
    rgba(50, 49, 50, 0.73) 0%, rgba(14, 5, 23, 0.96) 100%), url(../assets/img/body2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

body {
    align-items: center;
}

p {
    white-space: pre-wrap;
}

.text-color{
    color: rgba(255, 255, 255, 0.91);
}

.skills{
    color: rgb(255, 255, 255);
    background: linear-gradient(to bottom,
    rgba(76, 75, 77, 0.76) 0%, rgba(14, 5, 23, 0.96) 100%);
    border-radius: 5px;
}


body::after{
    content: '';
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/svg/6.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}


header{
    background: linear-gradient(to bottom,
    rgba(50, 49, 50, 0.73) 0%, rgba(14, 5, 23, 0.96) 100%), url(../assets/img/body8.jpg);
    height: 100vh;
    padding-top: 1.5rem;
    padding-bottom: 0;
}


.rounded-custom{
    border-radius: 5px;
}

.navbar{
    padding-bottom: 0 !important;
}

.nav-custom{
    font-weight: 700;
    /*color: #fff;*/
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent;
    isolation: isolate;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.nav-link:hover, .nav-link:focus {
    color: rgba(97, 75, 138, 0.93);
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    /*color: rgba(184, 199, 199, 0.62);*/
    color: #676979;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: rgba(97, 75, 138, 0.93);;
      /*color: #676979 !important;*/
      color: rgba(255, 255, 255, 0.91) !important;
  }

.img-profile{
    width: 30%;
    height: auto;
}

/*-------------------------------------------------------------------*/


.bg-custom{
    background-image: linear-gradient(to bottom,
    rgba(165, 167, 167, 65%) 0%, rgba(87, 90, 102, 100%) 100%);

}

/*-------------------------------------------------------------------*/

.banner::after, .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    transform: skew(15deg)
               translateX(-50%);
    width: 75%;
    height: 100%;
    background-image: linear-gradient(120deg, rgba(50, 49, 50, 0.73), rgba(14, 5, 23, 0.96));
    background-color: #333;
    opacity: .7;
}
.banner::before {
    transform: skew(-15deg)
               translateX(-50%);
}
.banner {
    position: relative;
    min-height: 50vh;
    background-image: url(../assets/img/body1.jpg);
    background-size: cover;
    display: flex;
    overflow: hidden;
}

.banner > * {
    z-index: 100;
}

/*-------------------------------------------------------------------*/


.art-cont::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 50%;
    transform: skew(-15deg)
               translateX(-50%);
    width: 80%;
    height: 90%;
    background-image: linear-gradient(120deg, rgba(50, 49, 50, 0.73), rgba(14, 5, 23, 0.96));
    background-color: #333;
    opacity: .7;
}

.art-cont > * {
    z-index: 100;
}

.art-cont2::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 50%;
    transform: skew(15deg)
               translateX(-50%);
    width: 80%;
    height: 90%;
    background-image:  linear-gradient(120deg, rgba(14, 5, 23, 0.96), rgba(50, 49, 50, 0.73));
    background-color: #333;
    opacity: .7;
}

.art-cont, .art-cont2 > * {
    z-index: 100;
}

.art-cont, .art-cont2 {
    position: relative;
    min-height: 80vh;
    display: flex;
    overflow: hidden;
}

.img-modal{
    width: auto;
    height: 400px;
}

/*-------------------------------------------------------------------*/

.button-down {
    color: rgb(145, 156, 170);
    animation: go-back 1s infinite alternate;
  }

  @keyframes go-back {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(0);
    }
  }

/*-------------------------------------------------------------------*/

  .awards{
      color: #fff;
  }
  .awards:hover{
    color: rgb(204, 205, 206);
  }

/*-------------------------------------------------------------------*/

.map{
    width: 100%;
    height: 80%;
}

/*-------------------------------------------------------------------*/
@media screen and (max-width: 767.99px) {
    .img-header{
        display: none;
    }
    .map{
        display: none;
    }

    .art-cont, .art-cont2 {
        background-image:  linear-gradient(120deg, rgb(245 245 245 / 90%), rgba(34, 178, 222, 0.73));
        margin-bottom: 20px;
    }

    .art-cont::before, .art-cont2::after {
        display: none;
    }
    .img-modal{
        width: 100%;
        height: 300px;
    }
}

.button-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: rgb(103, 105, 121);
    display: none;
    z-index: 100;
    animation: go-top 1s infinite alternate;
}
.button-top:hover {
    background:linear-gradient(to bottom,
    rgba(157, 241, 241, 0.65) 0%, rgb(79, 157, 143) 100%);
    border-radius: 20% !important;
    color: white;
}
@keyframes go-top {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}
